[package]
name = "common"
version = "1.0.0"
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
serde.workspace = true
anyhow.workspace = true
serde_json.workspace = true
thiserror.workspace = true
signal-hook.workspace = true