[package]
name = "common"
version = "1.0.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
serde.workspace = true
anyhow.workspace = true
serde_json.workspace = true
thiserror.workspace = true
signal-hook.workspace = true