version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: cargo
    target-branch: "develop"
    pull-request-branch-name:
      separator: "-"
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 2
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3